<app-banner></app-banner>
<app-product-slider
  [scrollSpeed]="scrollSpeed"
  [TotalProductsFetched]="TotalProductsFetched"
></app-product-slider>
<div class="mx-8">
  <div class="mt-24">
    <h2 class="text-center text-xl">
      Create an account and start to shop great products
    </h2>
    <p class="my-4">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore enim
      laudantium porro sapiente facere, vitae qui, facilis consectetur magni
      error accusantium libero excepturi eveniet dignissimos optio voluptatibus
      inventore voluptas eligendi.
    </p>
  </div>
  <div class="my-4">
    <h2 class="text-center text-xl">Testimonials</h2>
    <div class="text-center">
      <p>
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
        ducimus cumque facilis ex eum distinctio"
      </p>
      <p>Maria. B</p>
    </div>
    <div class="text-center">
      <p>
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
        ducimus cumque facilis ex eum distinctio"
      </p>
      <p>Paul. U</p>
    </div>
    <div class="text-center">
      <p>
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
        ducimus cumque facilis ex eum distinctio"
      </p>
      <p>John. T</p>
    </div>
  </div>
</div>
