<footer class="mt-28">
  <div
    class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
  >
    <a
      class="flex title-font font-medium items-center md:justify-start justify-center text-primary"
    >
      <i class="fa-solid fa-shopping-bag text-xl"></i>
      <span class="ml-3 text-2xl">Easy Shopping</span>
    </a>
    <p
      class="text-md link-primary sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4"
    >
      <a href="https://anthonyladon.com" target="_blank">© 2024 A.L </a>
    </p>
    <span
      class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start text-4xl"
    >
      <a href="#" class="mx-4 link-secondary duration-200 cursor-pointer"
        ><i class="fab fa-solid fa-instagram"></i
      ></a>
      <a href="#" class="mx-4 link-secondary duration-200 cursor-pointer"
        ><i class="fab fa-pinterest"></i
      ></a>
      <a href="#" class="mx-4 link-secondary duration-200 cursor-pointer"
        ><i class="fab fa-facebook"></i
      ></a>
      <a href="#" class="mx-4 link-secondary duration-200 cursor-pointer"
        ><i class="fab fa-tiktok"></i
      ></a>
    </span>
  </div>
</footer>
