<h2 class="text-center font-semibold p-4 text-3xl">Our last Arrivals</h2>
<div *ngIf="spinner$ | async" class="flex justify-center">
  <span class="loading loading-spinner text-accent p-6"></span>
</div>
<div
  #carousel
  class="carousel p-4 mx-2 space-x-4 rounded-box h-96"
  *ngIf="product$ | async as products"
>
  <ng-container *ngFor="let product of products">
    <div
      class="carousel-item relative rounded-xl bg-gradient-to-br from-gray-400 to-white"
    >
      <div class="carousel-text-over text-amber-50">
        <span
          class="text-secondary font-medium text-center bg-white rounded-xl mb-2"
          >{{ product.price | currency }}</span
        >
        <span
          [routerLink]="'/product' + '/' + product.id"
          routerLinkActive="router-link-active"
          class="btn btn-xs btn-secondary text-white p-0"
        >
          See more
        </span>
      </div>
      <img
        *ngIf="product.image && product.image !== 'undefined'; else noImage"
        [src]="product.image"
        class="rounded-xl object-cover h-full w-72"
        alt="{{ product.title }}"
      />
      <ng-template #noImage>
        <img
          src="../../../assets/images/default-image.jpeg"
          class="rounded-xl object-cover h-full w-72"
          alt="product default image"
      /></ng-template>
    </div>
  </ng-container>
</div>
