<div *ngIf="spinner$ | async" class="flex justify-center">
  <span class="loading loading-spinner text-accent p-6"></span>
</div>
<ng-container *ngIf="product$ | async as products">
  <div
    *ngFor="
      let product of products
        | paginate : { itemsPerPage: itemsPerPage, currentPage: currentPage }
    "
    class="flex-auto flex-row mt-16"
  >
    <div class="justify-center mb-12 md:mx-20 lg:mb-15 lg:w-2/3 lg:mx-auto">
      <div
        class="card rounded-none md:rounded-xl lg:card-side bg-base-100 shadow-lg lg:hover:shadow-xl"
      >
        <figure class="w-full h-80 bg-white">
          <img
            [src]="product.image"
            loading="lazy"
            class="object-cover"
            alt="{{ product.title }}"
          />
        </figure>
        <div
          class="card-body bg-gray-50 rounded-none md:rounded-b-xl lg:rounded-l-none lg:rounded-r-xl"
        >
          <h2 class="card-title text-primary text-3xl">
            {{ product.title }}
          </h2>
          <p class="line-clamp-3 lg:line-clamp-none text-primary">
            {{ product.description }}
          </p>

          <div class="card-actions align-middle justify-between">
            <p class="mt-2 text-left text-2xl text-secondary">
              {{ product.price | currency }}
            </p>
            <button
              [routerLink]="'/product' + '/' + product.id"
              routerLinkActive="router-link-active"
              class="btn btn-outline"
            >
              See more
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls
    (pageChange)="currentPage = $event"
    class="flex justify-center mt-14"
  ></pagination-controls>
</ng-container>
