<div class="wrapper bg-ocean-100">
  <div
    class="header z-50 top-0 flex items-center justify-between px-8 py-2 mx-auto max-w-screen-xl"
  >
    <!-- logo -->
    <a routerLink="/">
      <img
        src="../assets/images/main-logo.jpg"
        class="h-20 w-32 Class Properties cursor-pointer rounded-lg m-1"
      />
    </a>

    <!-- hamburger button -->
    <div class="block lg:hidden" (click)="ToggleMenu()">
      <button id="toggleButton" class="focus:outline-none">
        <svg
          class="h-8 p-1 text-amber-800 active:text-amber-500 duration-100"
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="bars"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <path
            fill="currentColor"
            d="M16 132h416c8.8 0 16-7.2 16-16V76c0-8.8-7.2-16-16-16H16C7.2 60 0 67.2 0 76v40c0 8.8 7.2 16 16 16zm0 160h416c8.8 0 16-7.2 16-16v-40c0-8.8-7.2-16-16-16H16c-8.8 0-16 7.2-16 16v40c0 8.8 7.2 16 16 16zm0 160h416c8.8 0 16-7.2 16-16v-40c0-8.8-7.2-16-16-16H16c-8.8 0-16 7.2-16 16v40c0 8.8 7.2 16 16 16z"
          ></path>
        </svg>
      </button>
    </div>
    <!-- End: hamburger button -->

    <!-- navigation -->
    <nav class="nav uppercase lg:flex hidden">
      <ul class="flex items-center">
        <li
          class="p-4 border-transparent border-b-2 text-ambre-200 border-opacity-0 hover:text-ambre-400 hover:border-b-2 hover:border-ambre-200 duration-200 cursor-pointer"
        >
          <a routerLink="/">Categories</a>
        </li>
        <li
          class="p-4 border-transparent border-b-2 text-ambre-200 border-opacity-0 hover:text-ambre-400 hover:border-b-2 hover:border-ambre-200 duration-200 cursor-pointer"
        >
          <a routerLink="/">Products</a>
        </li>
        <li
          class="p-4 border-transparent border-b-2 text-ambre-200 border-opacity-0 hover:text-ambre-400 hover:border-b-2 hover:border-ambre-200 duration-200 cursor-pointer"
        >
          <a routerLink="/">Collections</a>
        </li>

        <li
          class="p-4 border-transparent border-b-2 text-ambre-200 border-opacity-0 hover:text-ambre-400 hover:border-b-2 hover:border-ambre-200 duration-200 cursor-pointer"
        >
          <a routerLink="/"><i class="fa-solid fa-user"></i></a>
        </li>
        <li
          class="p-4 border-transparent border-b-2 text-ambre-200 border-opacity-0 hover:text-ambre-400 hover:border-b-2 hover:border-ambre-200 duration-200 cursor-pointer"
        >
          <a routerLink="/"><i class="fa-solid fa-cart-shopping"></i></a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Mobile navigation -->
  <div class="lg:hidden">
    <div
      class="h-auto hidden uppercase w-full text-purple-950 absolute z-auto"
      id="menu-mobile"
    >
      <ul class="flex w-full items-center flex-col">
        <li
          class="w-full p-4 bg-sable-50 hover:bg-sable-100 text-ocean-500 border-opacity-0 cursor-pointer active duration-100"
        >
          <a routerLink="/">Categories</a>
        </li>
        <li
          class="w-full p-4 bg-sable-50 hover:bg-sable-100 text-ocean-500 border-opacity-0 cursor-pointer active duration-100"
        >
          <a routerLink="/">Products</a>
        </li>
        <li
          class="w-full p-4 bg-sable-50 hover:bg-sable-100 text-ocean-500 border-opacity-0 cursor-pointer active duration-100"
        >
          <a routerLink="/">Collections</a>
        </li>
        <li
          class="w-full p-4 bg-sable-50 hover:bg-sable-100 text-ocean-500 border-opacity-0 cursor-pointer active duration-100"
        >
          <a routerLink="/"><i class="fa-solid fa-cart-shopping"></i></a>
        </li>
      </ul>
    </div>
    <!-- End: Mobile navigation -->
  </div>
</div>
