<div class="header z-50 top-0 px-8 py-2 mx-auto max-w-screen-xl">
  <!-- hamburger button -->
  <div class="block lg:hidden" (click)="ToggleMenu()">
    <button id="toggleButton" class="focus:outline-none">
      <svg
        class="h-10 p-1 link-primary duration-100"
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="bars"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <path
          fill="currentColor"
          d="M16 132h416c8.8 0 16-7.2 16-16V76c0-8.8-7.2-16-16-16H16C7.2 60 0 67.2 0 76v40c0 8.8 7.2 16 16 16zm0 160h416c8.8 0 16-7.2 16-16v-40c0-8.8-7.2-16-16-16H16c-8.8 0-16 7.2-16 16v40c0 8.8 7.2 16 16 16zm0 160h416c8.8 0 16-7.2 16-16v-40c0-8.8-7.2-16-16-16H16c-8.8 0-16 7.2-16 16v40c0 8.8 7.2 16 16 16z"
        ></path>
      </svg>
    </button>
  </div>
  <!-- End: hamburger button -->

  <!-- Large navigation -->
  <nav class="navbar uppercase lg:flex hidden">
    <div class="flex-1">
      <!-- logo -->
      <a routerLink="/">
        <img
          src="../assets/images/main-logo.jpg"
          class="h-20 w-32 cursor-pointer rounded-lg m-1 baroder-shadow shadow-sm"
        />
      </a>
    </div>
    <div>
      <ul class="flex items-center">
        <li
          class="p-4 border-transparent border-b-2 border-opacity-0 link-primary duration-200 cursor-pointer"
        >
          <a routerLink="/">Home</a>
        </li>
        <li
          class="p-4 border-transparent border-b-2 link-primary border-opacity-0 duration-200 cursor-pointer"
        >
          <a routerLink="/">Categories</a>
        </li>
        <li
          class="p-4 border-transparent border-b-2 link-primary border-opacity-0 duration-200 cursor-pointer"
        >
          <a routerLink="/">Products</a>
        </li>
      </ul>
    </div>
    <div class="flex-none">
      <div class="dropdown dropdown-end px-2">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
          <div class="indicator">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-8 w-8 text-primary"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
              />
            </svg>
            <span class="badge badge-sm indicator-item">0</span>
          </div>
        </div>
        <div
          tabindex="0"
          class="mt-3 z-[1] card card-compact dropdown-content w-52 bg-base-100 shadow"
        >
          <div class="card-body">
            <span class="font-bold text-lg">0 Item</span>
            <span class="text-info">Subtotal: $0</span>
            <div class="card-actions">
              <button class="btn btn-block">View cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown dropdown-end mt-1 px-2">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div
            class="w-12 h-12 rounded-full border border-primary hover:border-accent bg-gradient-to-tl from-gray-300 to-gray-50"
          >
            <img
              alt="User's profile picture"
              src="../assets/images/default-user.png"
            />
          </div>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
        >
          <li>
            <a class="justify-between">
              Profile
              <span class="badge">New</span>
            </a>
          </li>
          <li><a>Settings</a></li>
          <li><a>Logout</a></li>
          <li>
            <label class="swap swap-rotate">
              <!-- this hidden checkbox controls the state -->
              <!-- ! Switch to chosen Dark mode theme (DaisyUI) -->
              <input type="checkbox" class="theme-controller" value="sunset" />

              <!-- sun icon -->
              <svg
                class="swap-off fill-current w-10 h-10"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
              >
                <path
                  d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z"
                />
              </svg>

              <!-- moon icon -->
              <svg
                class="swap-on fill-current w-10 h-10"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
              >
                <path
                  d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z"
                />
              </svg>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!-- End: Large navigation -->

<!-- Mobile navigation -->
<nav class="lg:hidden">
  <div
    class="h-auto hidden uppercase w-full text-purple-950 absolute z-50"
    id="menu-mobile"
  >
    <ul class="flex w-full items-center flex-col">
      <li
        class="w-full p-4 text-center bg-amber-50 hover:bg-amber-100 text-amber-800 border-opacity-0 cursor-pointer active duration-100"
      >
        <a routerLink="/">Categories</a>
      </li>
      <li
        class="w-full p-4 text-center bg-amber-50 hover:bg-amber-100 text-amber-800 border-opacity-0 cursor-pointer active duration-100"
      >
        <a routerLink="/">Products</a>
      </li>
      <li
        class="w-full p-4 text-center bg-amber-50 hover:bg-amber-100 text-amber-800 border-opacity-0 cursor-pointer active duration-100"
      >
        <a routerLink="/">Collections</a>
      </li>
      <li
        class="w-full p-4 text-center bg-amber-50 hover:bg-amber-100 text-amber-800 border-opacity-0 cursor-pointer active duration-100"
      >
        <a routerLink="/"><i class="fa-solid fa-user"></i></a>
      </li>
      <li
        class="w-full p-4 text-center bg-amber-50 hover:bg-amber-100 text-amber-800 border-opacity-0 cursor-pointer active duration-100"
      >
        <a routerLink="/"><i class="fa-solid fa-cart-shopping"></i></a>
      </li>
    </ul>
  </div>
  <!-- End: Mobile navigation -->
</nav>
