<footer class="text-gray-600">
  <div
    class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
  >
    <a
      class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
    >
      <i class="fa-solid fa-shopping-bag text-xl text-purple-500"></i>
      <span class="ml-3 text-xl text-purple-500">Easy Shopping</span>
    </a>
    <p
      class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4"
    >
      <a href="https://anthonyladon.com" target="_blank">© 2024 A.L </a>
    </p>
    <span
      class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
    >
      <a href="#" class="text-gray-500 text-xl hover:text-purple-500 mr-2"
        ><i class="fab fa-instagram"></i
      ></a>
      <a href="#" class="ml-3 text-gray-500 text-xl hover:text-purple-500 mr-2"
        ><i class="fab fa-linkedin"></i
      ></a>
      <a href="#" class="ml-3 text-gray-500 text-xl hover:text-purple-500 mr-2"
        ><i class="fab fa-facebook"></i
      ></a>
      <a href="#" class="ml-3 text-gray-500 text-xl hover:text-purple-500 mr-2"
        ><i class="fab fa-tiktok"></i
      ></a>
    </span>
  </div>
</footer>
