<h1 class="text-2xl text-center mb-10">Shopping Cart</h1>
<div class="m-10 p-10 rounded-lg border-gray-300 border-2 shadow-xl">
  <table class="w-full text-left mb-6">
    <th class="border-b-2 pb-4">Products</th>
    <th class="border-b-2 pb-4">Quantity</th>
    <th class="border-b-2 pb-4">Price</th>
    <th class="border-b-2 pb-4">Total</th>
    <tr class="border-b-2">
      <td>
        <div class="card my-4">
          <div class="card-title text-lg">Raquette de tennis</div>
          <figure class="w-24 h-24 md:w-32 md:h-32">
            <img src="../../../assets/images/default-image.jpeg" alt="" />
          </figure>
        </div>
      </td>
      <td>
        <select class="select select-ghost max-w-xs">
          <option disabled selected>0</option>
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </td>
      <td>50$</td>
      <td>50$</td>
    </tr>
    <tr class="border-b-2">
      <td>
        <div class="card my-4">
          <div class="card-title text-lg">Raquette de tennis</div>
          <figure class="w-24 h-24 md:w-32 md:h-32">
            <img src="../../../assets/images/default-image.jpeg" alt="" />
          </figure>
        </div>
      </td>
      <td>
        <select class="select select-ghost max-w-xs">
          <option disabled selected>0</option>
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </td>
      <td>50$</td>
      <td>50$</td>
    </tr>
  </table>
  <div class="flex justify-center mt-20">
    <button class="btn btn-ghost mr-2">
      <i class="fa fa-arrow-left pt-1"></i>Back to shoping
    </button>
    <button class="btn md:btn-wide btn-outline text-info text-lg">
      Checkout
    </button>
  </div>
</div>
