<p
  class="text-center mx-2 lg:mx-0 px-4 my-2 border border-gray-200 text-gray-400"
>
  Filter > All categories
</p>
<div class="flex">
  <div
    class="flex flex-col flex-auto flex-shrink-0 py-10 px-2 rounded-md bg-gray-200"
  >
    <div class="flex flex-col top-0 left-0 w-64 bg-gray-200 border-r">
      <div class="overflow-y-auto overflow-x-hidden flex-grow">
        <h3 class="text-center my-2 text-lg">Filters</h3>
        <div class="join join-vertical w-full p-2">
          <div class="collapse collapse-arrow join-item border border-base-300">
            <input type="radio" name="my-accordion-4" />
            <div class="collapse-title text-xl font-medium">Prices</div>
            <div class="collapse-content mx-auto">
              <input type="range" />
            </div>
          </div>
          <div class="collapse collapse-arrow join-item border border-base-300">
            <input type="radio" name="my-accordion-4" />
            <div class="collapse-title text-xl font-medium">Category</div>
            <div class="collapse-content">
              <div class="form-control w-2/3 mx-auto">
                <label class="cursor-pointer label">
                  <span class="label-text">Clothes</span>
                  <input type="checkbox" class="checkbox checkbox-accent" />
                </label>
              </div>
              <div class="form-control w-2/3 mx-auto">
                <label class="cursor-pointer label">
                  <span class="label-text">Hight Tech</span>
                  <input type="checkbox" class="checkbox checkbox-accent" />
                </label>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-accent mt-4 block mx-auto">Show results</button>
      </div>
    </div>
  </div>
  <app-product-list
    [TotalProductsFetched]="TotalProductsFetched"
  ></app-product-list>
</div>
