<h2 class="text-2xl text-center">Sign Up</h2>
<div class="wrapper max-w-xl mx-auto my-10">
  <form (submit)="submitSignup()" class="form-control">
    <div class="form-group">
      <label for="firstName" class="label-text text-primary">First Name</label>
      <input
        type="string"
        class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
        id="firstName"
        name="firstName"
        [(ngModel)]="firstName"
        required
        pattern="^[a-zA-Z]{2,}$"
        #firstNameInput="ngModel"
      />
    </div>
    <div
      role="alert"
      class="p-4 mt-1 text-sm rounded-lg bg-red-100 text-red-700"
      *ngIf="firstNameInput.invalid && firstNameInput.touched"
    >
      <span class="font-medium">Please enter your firstname</span>
    </div>
    <div class="form-group">
      <label for="lastName" class="label-text text-primary">Last Name</label>
      <input
        type="string"
        class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
        id="lastName"
        name="lastName"
        [(ngModel)]="lastName"
        required
        pattern="^[a-zA-Z]{2,}$"
        #lastNameInput="ngModel"
      />
    </div>
    <div
      role="alert"
      class="p-4 mt-1 text-sm rounded-lg bg-red-100 text-red-700"
      *ngIf="lastNameInput.invalid && lastNameInput.touched"
    >
      <span class="font-medium">Please enter your lastname</span>
    </div>
    <div class="form-group">
      <label for="email" class="label-text text-primary">Email</label>
      <input
        type="email"
        name="email"
        class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
        id="email"
        [(ngModel)]="email"
        required
        email
        #emailInput="ngModel"
      />
    </div>
    <div
      role="alert"
      class="p-4 mt-1 text-sm rounded-lg bg-red-100 text-red-700"
      *ngIf="emailInput.invalid && emailInput.touched"
    >
      <span class="font-medium">Please enter a valid email</span>
    </div>
    <div class="form-group">
      <label for="password" class="label-text text-primary">Password</label>
      <input
        type="password"
        name="password"
        class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
        id="password"
        [(ngModel)]="password"
        required
        pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()\-_=+{};:,.>])(?!.*\s).{8,}$"
        #passwordInput="ngModel"
      />
      <div
        class="p-4 mt-1 text-sm rounded-lg bg-red-100 text-red-700"
        *ngIf="passwordInput.invalid && passwordInput.touched"
      >
        <span class="font-medium">Please enter a valid password</span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-outline mt-8 mx-40">
      Sign Up
    </button>
  </form>
</div>
